/*
https://fontawesome.com/how-to-use/on-the-web/advanced/css-pseudo-elements

#ef233c  crvena
#414141  tamno siva
*/

@import url('https://fonts.googleapis.com/css?family=Gugi|Kaushan+Script|Source+Sans+Pro');
:root {
    --red: #ef233c;
    --darkGray: #414141;
    --white: #fff;
    --transition: .4s ease
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.7;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Kaushan Script', cursive;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    background: var(--red);
    color: var(--white);
    cursor: pointer;
    border: none;
    font-size: 1.5rem;
    padding: 10px 30px;
    margin-top: 20px;
}

button:hover {
    background: var(--white);
    color: var(--red);
    transition: var(--transition);
}


/*************
header
*************/

header {
    background-image: linear-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .4)), url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 5px 10px 0 10px;
    color: var(--white);
}

nav {
    background: var(--white);
    margin: 20px 40px 0 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    line-height: 1.1;
}

header nav h1 a {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--darkGray);
    text-transform: uppercase;
    font-family: 'Gugi';
    font-weight: 700;
    padding: 5px 0 5px 45px;
}

header nav h1 a span:first-child {
    font-size: 2.3rem;
}

header nav h1 a span:last-child {
    font-size: .8rem;
}

header nav h1 a span:first-child:first-letter {
    color: var(--red);
}

nav ul {
    display: flex;
}

nav ul li a {
    color: var(--darkGray);
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    margin: 10px 20px;
    justify-content: center;
    align-items: center;
}

header hgroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 90vh;
}

header hgroup h2 {
    font-size: 2.5rem;
}

header hgroup p {
    font-size: 1rem;
    text-align: center;
}